/* Define the default style for general elements */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, strong, ul, ol, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  text-rendering: optimizeLegibility;
}
/* Define the body to have a specific Font */
body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font: normal 1em / 1.33em 'Karla', sans-serif;
}
/* Define the id elements to have a fill to the current color */
path#r1, #r2, #r3, #r4, #r5, #r6 {
	fill: currentColor;
}